{% extends 'Infopart/base.html'%}
{% block content%}
    <div class = 'content-section'>
        <form method="POST">
            <!-- this token must be kept in django forms, it is like security -->
            {% csrf_token %}
            <fieldset class = 'form-group'>
                <!-- field set tags is used to group related elements in a form  -->
                <legend class="border-bottom mb-4"> Delete post </legend>
                <h2> Are you sure you want to delete the post {{ object.intro }}</h2>
               <!-- {{ form.as_p }}  as_p helps to create paragraphs and space the form out, but now we have crispy forms -->
            </fieldset>
            <div class="form-group">
                <!-- The form does not come with a submit button so we add -->
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'Review-detail' object.id %}" >Cancel</a>
            </div>
        </form>
    </div>
{% endblock content%}