{% extends 'Infopart/base.html'%}
{% load crispy_forms_tags %}
{% block content%}
    <div class = 'content-section'>
        <form method="POST">
            <!-- this token must be kept in django forms, it is like security -->
            {% csrf_token %}
            <fieldset class = 'form-group'>
                <!-- field set tags is used to group related elements in a form  -->
                <legend class="border-bottom mb-4"> Drop a review </legend>
               <!-- {{ form.as_p }}  as_p helps to create paragraphs and space the form out, but now we have crispy forms -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <!-- The form does not come with a submit button so we add -->
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content%}